@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

html[data-theme="light"] {
    --color-text: #171717;
    --color-text-secondary: #737373;
    --color-text-footer: #737373;
    --color-border: #d4d4d4;
    --color-border-collapsible-menu: #e5e5e5;
    --color-background: #fff;
    --color-background-hover: #f7f7f7;
    --color-background-overlay: #ededed;
    --color-background-inline-code: #f5f5f5;
    --color-background-card: #fff;
    --color-background-mark: #fff1a7;
    --color-link: #2563eb;
    --color-navbar-item-inactive: #a3a3a3;
    --color-navbar-item-active: #171717;
    --color-navbar-item-in-section: #525252; 
}

html[data-theme="dark"] {
    --color-text: var(--ctp-mocha-text);
    --color-text-secondary: var(--ctp-mocha-subtext1);
    --color-text-footer: var(--ctp-mocha-subtext0);
    --color-border: var(--ctp-mocha-red);
    --color-border-collapsible-menu: var(--ctp-mocha-surface2);
    --color-background: var(--ctp-mocha-mantle);
    --color-background-hover: var(--ctp-mocha-surface1);
    --color-background-overlay: var(--ctp-mocha-base);
    --color-background-inline-code: var(--ctp-mocha-surface1);
    --color-background-card: var(--ctp-mocha-base);
    --color-background-mark: #fff1a7;
    --color-link: var(--ctp-mocha-red);
    --color-navbar-item-inactive: var(--ctp-mocha-subtext0);
    --color-navbar-item-active: var(--ctp-mocha-red);
    --color-navbar-item-in-section: var(--ctp-mocha-maroon) 
}

* {
    /* font-family: monospace; */
}

.bookcase-layout .bookcase-item img, .bookcase-layout .bookcase-item .bookcase-item-overlay {
    height: fit-content;
}
