@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

*:not(i) {
    font-family: "JetBrains Mono", monospace !important;
    line-height: 140%;
}

.line-numbers-rows {
    * {
        line-height: 150%;
    }
}

main {
    min-width: 90%;
}

figcaption {
    margin-top: 0.0rem !important;
    margin-bottom: 0.2rem !important;
}

.brand {
    a {
        font-size: 1.1em !important;
        font-weight: normal !important;
    }
}

#navbar {
    margin: -0.5rem 0;

    a {
        font-size: 0.9em !important;
    }

    .navbar-item {
        border-bottom: 0px solid transparent !important;
    }
}

.bookcase-layout .bookcase-item img,
.bookcase-layout .bookcase-item .bookcase-item-overlay {
    height: fit-content;
}

code {
    display: block;
    background-color: var(--color-background-inline-code);
    padding: 8px;
    font-size: 0.9em;
}

html[data-theme="light"] {
    --color-text-light: var(--ctp-mocha-text);
    --color-text-dark: var(--ctp-latte-text);

    --color-text: var(--ctp-latte-text);
    --color-text-secondary: var(--ctp-latte-subtext1);
    --color-text-footer: var(--ctp-latte-subtext0);
    --color-text-title: var(--ctp-mocha-red);
    --color-border: var(--ctp-latte-red);
    --color-border-collapsible-menu: var(--ctp-latte-surface2);
    --color-background: var(--ctp-latte-mantle);
    --color-background-hover: var(--ctp-latte-surface1);
    --color-background-overlay: var(--ctp-latte-base);
    --color-background-inline-code: var(--ctp-latte-crust);
    --color-background-card: var(--ctp-latte-crust);
    --color-link: var(--ctp-latte-red);
    --color-navbar-item-inactive: var(--ctp-latte-subtext0);
    --color-navbar-item-active: var(--ctp-latte-red);
    --color-navbar-item-in-section: var(--ctp-latte-red);
    --color-background-mark: #fff1a7;
}

html[data-theme="dark"] {
    --color-text-light: var(--ctp-mocha-text);
    --color-text-dark: var(--ctp-latte-text);

    --color-text: var(--ctp-mocha-text);
    --color-text-secondary: var(--ctp-mocha-subtext1);
    --color-text-footer: var(--ctp-mocha-subtext0);
    --color-text-title: var(--ctp-mocha-red);
    --color-border: var(--ctp-mocha-red);
    --color-border-collapsible-menu: var(--ctp-mocha-surface2);
    --color-background: var(--ctp-mocha-mantle);
    --color-background-hover: var(--ctp-mocha-surface1);
    --color-background-overlay: var(--ctp-mocha-base);
    --color-background-inline-code: var(--ctp-mocha-crust);
    --color-background-card: var(--ctp-mocha-crust);
    --color-link: var(--ctp-mocha-red);
    --color-navbar-item-inactive: var(--ctp-mocha-subtext0);
    --color-navbar-item-active: var(--ctp-mocha-red);
    --color-navbar-item-in-section: var(--ctp-mocha-red);
    --color-background-mark: #fff1a7;
}
